/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */


.thought1 {
font-family: 'Courier Prime', monospace;
}

.thought2 {
font-family: 'Inria Serif', serif;
}

.thought3 {
font-family: 'Girassol', cursive;; 
}